/target/
/build/
#.clover
.clover#
### STS ###
.apt_generated
#.classpath
#.factorypath
#.project
#.project
#.settings
.springBeans
.sts4-cache
.mvn
.gradle/
/.gradle/
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
