/target/
/build/
.gradle/
.idea/
gradle/
# testing
.gradle/vcs-1
.idea/
gradle/wrapper
#.clover
.clover#
### STS ###
.apt_generated
#.classpath
#.factorypath
#.project
#.project
#.settings
.springBeans
.sts4-cache
.mvn
*.gradle/
*.gradle
*.gradle/vcs-1
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
java_pid*
*.log
*iml
*.idea
*.txt
.txt
### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
