<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>${description}</title>
	<link rel="stylesheet" th:href="@{css/styles.css}"/>
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
</head>
<body>
	<div><p>Greetings! <span class="name" id="name" th:text='${name}' th:value='${name}'></span></p><br /></div>
	<div class="mainContainer">
		<!-- new design is all dynamically created with JS -->
		<div class="output" id="output"></div><br />
		<input class="input" id="input" type="text" width="50px" style="text-color:red"/><br />
		<input id="button" type="button" onclick="variousInput()" width="45px" value="GO" />
	</div>
	<script type="text/javascript" th:src="@{js/jquery-3.6.0.js}" /></script>
    <script type="text/javascript" th:src="@{js/client-side-script.js}" /></script>
	<link rel="stylesheet" th:href="@{css/styles.css}"/>
	<script th:inline="javascript">
		/*<![CDATA[*/
		 var name = /*[[${name}]]*/ 'name'
		/*]]>*/
	</script>
</body>
</html>